alabaster
anyio
appdirs==1.4.4
argh==0.26.2
argon2-cffi
asn1crypto
astroid
astropy
async-generator
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref==1.0.post1
beautifulsoup4
bitarray
bkcharts==0.2
black==19.10b0
bleach
bokeh
boto==2.49.0
#Bottleneck==1.3.2
Bottleneck
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click
cloudpickle
#clyent==1.2.2
clyent
colorama
contextlib2==0.6.0.post1
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask
decorator
defusedxml
diff-match-patch
distributed
docker-pycreds==0.4.0
docutils
entrypoints==0.3
et-xmlfile==1.0.1
#fastcache
filelock
flake8
Flask
fsspec
future==0.18.2
gevent
gitdb==4.0.9
GitPython==3.1.27
glob2
gmpy2
greenlet
h5py
HeapDict==1.0.1
html5lib
idna
imageio
imagesize
importlib-metadata
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal==1.4.1
jedi
jeepney
Jinja2
joblib
json5==0.9.5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite==0.36.0
locket==0.2.1
lxml
MarkupSafe==1.1.1
matplotlib
mccabe==0.6.1
mistune==0.8.4
#mkl-fft==1.3.0
mkl-fft
mkl-random
#mkl-service==2.3.0
mkl-service
mock
more-itertools
mpmath==1.2.1
msgpack
multipledispatch==0.6.0
mypy-extensions==0.4.3
#navigator-updater==0.2.1
#navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
#numpy
numpydoc
olefile==0.46
opencv-python==4.5.5.64
openpyxl
packaging
pandas==1.2.4
pandocfilters
parso==0.7.0
partd
path
pathlib2
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect
pickleshare
Pillow
pkginfo==1.7.0
pluggy
ply==3.11
prometheus-client
promise==2.3
prompt-toolkit
protobuf==3.19.4
psutil
ptyprocess
py
pycodestyle
pycosat==0.6.3
pycparser
pycurl
pydocstyle
pyerfa
pyflakes
Pygments
pylint
pyls-black
pyls-spyder
#pyodbc===4.0.0-unsupported
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest==6.2.3
python-dateutil
python-jsonrpc-server
python-language-server
pytz
PyWavelets
pyxdg
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome
qtconsole
QtPy==1.9.0
regex
requests
rope
Rtree
ruamel-yaml-conda
scikit-image==0.18.1
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
sentry-sdk==1.5.8
setproctitle==1.2.2
shortuuid==1.0.8
simplegeneric==0.8.1
singledispatch
#sip==4.19.13
sip
six
smmap==5.0.0
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
statsmodels
sympy
tables==3.6.1
tblib
termcolor==1.1.0
terminado==0.9.4
testpath
textdistance
threadpoolctl
three-merge
tifffile==2020.10.1
toml
toolz
#torch==1.11.0+cu113
#torchaudio==0.11.0+cu113
#torchvision==0.12.0+cu113
tornado
tqdm
traitlets
typed-ast
typing-extensions
ujson
unicodecsv==0.14.1
urllib3
wandb==0.12.11
watchdog
wcwidth
webencodings==0.5.1
Werkzeug
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer
xlrd
XlsxWriter
xlwt==1.3.0
xmltodict
yapf
yaspin==2.1.0
zict==2.0.0
zipp
zope.event==4.5.0
zope.interface
